{{>header}}

<div class="create-event">
    <h1>Create an event</h1>
    <form method='post' action='/home'>
	    <ul class="event-form">
	    	<li class="event-form-item">
	            <p>Event image</p>
	        	<input type='file' name='image' accept=".jpg, .jpeg, .png"/>    
	        </li>
    		<li class="event-form-item">
	            <p>Event banner image</p>
	        	<input type='file' name='banner' accept=".jpg, .jpeg, .png"/>    
	        </li>
	        <li class="event-form-item">
	            <h3>Event name</h3>
	            <input type='text' name='eventName'/>
	        </li>
	        <li class="event-form-item">
	            <h3>Game</h3>
	            <input type='text' name='game'/>
	        </li>
	        <li class="event-form-item">
	            <h3>Number of participants</h3>
	            <input type='text' name='numberOfParticipants'/>
	        </li>
	        <li class="event-form-item">
	            <h3>Registration due date</h3>
	            <input type='date' name='regDate'/>
	        </li>
	        <li class="event-form-item">
	            <h3>Kick-off date</h3>
	            <input type='date' name='kickoffDate'/>
	        </li>
	        <li class="event-form-submit">
	            <input type='submit' value='PUBLISH'/>
	        </li>
	        
	    </ul>
	</form>
</div>

{{>footer}}