{{>header}}

<div class="edit-event-container">
	{{#event.ongoing}}
	<h1 class="create-event--title">Edit ongoing event</h1>
	{{/event.ongoing}}
	{{^event.ongoing}}
	<h1 class="create-event--title">Edit upcoming event</h1>
	{{/event.ongoing}}
	<div class="edit-event-body">
		{{#event.ongoing}}
		<form method='post' action='/events/{{event.id}}/modify_ongoing'>
			{{/event.ongoing}}
			{{^event.ongoing}}
			<form method='post' action='/events/{{event.id}}/modify_upcoming'>
			{{/event.ongoing}}
			<div class="edit-event-body">
				<div class="edit-event-left">
					<div class="edit-event-icon">
						<!-- <img src="/events/{{id}}/image"></img> -->
						<p>Image placeholder</p>
						<input type="image">
					</div>
					{{#event.ongoing}}
					<p id="edit-event-status">LIVE</p>
					<p >Stage</p>
					<p>{{event.numParticipants}} participants</p>
					{{/event.ongoing}}
					{{^event.ongoing}}
					<p>Registrations ends {{event.regDateStr}}</p>
					<p>Event starts {{event.kickoffDateStr}}</p>
					<p>{{event.numParticipants}}/{{event.numSlots}}</p>
					{{/event.ongoing}}
				</div>
				<div class="edit-event-right">
					<div class="horizontal-list items-alignment">
							<!-- <img src="/events/{{id}}/banner"></img> -->
							<p>Banner image</p>
							<input type="image">
					</div>
					<div class="horizontal-list items-alignment">
						<p>Event name:</p>
						<input type="text" value="{{event.eventName}}">
					</div>
					<div class="horizontal-list items-alignment">
						<p>Game:</p>
						<input type="text" value="{{event.game}}">
					</div>
					{{^event.ongoing}}
					<div class="horizontal-list items-alignment">
						<p>Registration due date:</p>
						<input type="date" value="{{event.regDateStr}}">
					</div>
					<div class="horizontal-list items-alignment">
						<p>Kick-off date:</p>
						<input type="date" value="{{event.kickoffDateStr}}">
					</div>
					{{/event.ongoing}}
					<div class="modify-event">
						<input type='submit' value='PUBLISH' />
					</div>
					<div class="cancel-event">
						<a href="/events/{{event.id}}/delete">CANCEL EVENT</a>
					</div>
				</div>
			</div>
			</form>
	</div>
</div>

{{>footer}}