{{>basic_header}}
<ul class="main-menu">
	<li class="menu-item">
		<a href="/home">HOME</a>
	</li>
	{{#logged}}
	<li class="menu-item">
		<a href="/event/create">CREATE EVENT</a>
	</li>
	<li class="menu-item">
		<a href="#">MY EVENTS</a>
	</li>
	<li class="menu-item">
		<a href="#">MY ACCOUNT</a>
	</li>
	{{/logged}}
	{{^logged}}
	<li class="login-button">
		<a href="/login">LOG IN</a>
	</li>
	{{/logged}}
	{{#logged}}
	<li class="login-button">
		<a href="/logout">LOG OUT</a>
	</li>
	{{/logged}}
</ul>
</header>

<script src="/scripts/header.js"></script>