{{>header}}

<div class="home-container">
    <div class="ongoing-event">
        <div class="section-title">
            <P>Ongoing events</P>
        </div>

        {{#ongoingEvents}}
        <li class="ongoing-event-list">
        	{{>ongoing_event_post}}
        {{/ongoingEvents}}
    </div>
    <div class="upcoming-event">
        <div class="section-title">
            <P>Upcoming events</P>
        </div>
        {{#upcomingEvents}}
   		<li class="upcoming-event-list">
   			{{>upcoming_event_post}}
        {{/upcomingEvents}}
    </div>
</div>

{{>footer}}