{{>header}}

<div class="home-container">
	<div class="ongoing-event">
		<div class="section-title">
			<P>Ongoing events</P>
		</div>
		<ul>
			{{#ongoingEvents}}
			<li class="ongoing-event-list">
				<div class="ongoing-event-post">
					<div class="ongoing-event-post__text">
						<ul>
							<li class="ongoing-event-post__text--title">
								<a href="/events/{{id}}">{{eventName}}</a>
							</li>
							<li class="ongoing-event-post__text--game">
								{{game}}
							</li>
						</ul>
						<ul class="ongoing-event-post__text-list">
							<li class="ongoing-event-post__text--state">
								LIVE
							</li>
							<li class="ongoing-event-post__text--state2">
								Phase
							</li>
						</ul>
					</div>
				</div>
			</li>
			{{/ongoingEvents}}
		</ul>
	</div>
	<div class="upcoming-event">
		<div class="section-title">
			<P>Upcoming events</P>
		</div>
		<ul>
			{{#upcomingEvents}}
			<li class="upcoming-event-list">
				<div class="upcoming-event-post">
					<div class="upcoming-event-post__text">
						<ul>
							<li class="upcoming-event-post__text--title">
								<a href="/events/{{id}}">{{eventName}}</a>
							</li>
							<li class="upcoming-event-post__text--game">
								{{game}}
							</li>
						</ul>
						<ul class="upcoming-event-post__text-list">
							<li class="upcoming-event-post__text--state">
								{{kickoffDateStr}}
							</li>
							<li class="upcoming-event-post__text--state2">
								REGISTER
							</li>
						</ul>
					</div>
				</div>
			</li>
			{{/upcomingEvents}}
		</ul>
	</div>
</div>

{{>footer}}