{{>basic_header}}
</header>

<div class="login-box">
	<h3>Sign up</h3>
	<form method='post' action='/home'>		
		<ul class="form">
			<li class="form-item">
				<input type='text' name='username' placeholder="Username"/>
			</li>
			<li class="form-item">
				<input type='text' name='email' placeholder="Email"/>
			</li>
			<li class="form-item">
				<input type='text' name='password' placeholder="Password"/>
			</li>
			<li class="form-item">
				<input type='text' name='reenterPassword' placeholder="Re-enter password"/>
			</li>
			<li class="form-submit">
				<input type='submit' value='ENTER'/>
			</li>
		</ul>		
	</form>
</div>

{{>footer}}