{{>basic_header}}
</header>

<div class="login-box">    
    <form method='post' action='/login'>        
        
        <ul class="form">
        {{^error}}
            <li><h3>Log In</h3>    </li>
            
            <li class="form-item">
                <input type='text' name='username' placeholder="username"/>
            </li>         
            <li class="form-item">
                <input type='password' name='password' placeholder="password"/>
            </li>          
            <li class="form-submit">
                <input type='submit' value='ENTER'/>
            </li>
            <li class="form-signin"><a href="/create_account">Create an account</a></li>          
        {{/error}}            
        {{#error}}
            <li><h3>Log In</h3>    </li>
            
            <li class="form-item">
                <input type='text' name='username' placeholder="Username"/>
            </li>
            <li class="form-item">
                <input type='text' name='password' placeholder="Password"/>
            </li>
            <li class="form-submit">
                <input type='submit' value='ENTER'/>
            </li>
             <li class="form-signin"><a href="/create_account">Create an account</a></li>            
                <li class="form-error">
                    <a>{{errorMsg}}</a>
                </li>
        {{/error}}
        </ul>
        <input type="hidden" name="_csrf" value="{{token}}"/>        
    </form>
</div>

{{>footer}}