{{>header}}

<div class="my-account-container">
    <div class="my-account-form">
        <form method='post' action='/'>            
            <div class="horizontal-list items-alignment-my-account">
                <p>Username</p>
                <input type="text" name="">
            </div>
            <div class=" horizontal-list items-alignment-my-account">
                <p>Email</p>
                <div>user.email</div>
            </div>
            <div class="horizontal-list items-alignment-my-account">
                <p>Password</p>
                <div id="pass"> example</div>
            </div>
            <div class="horizontal-list items-alignment-my-account">
                <p>New password</p>
                <input type="password" name="" id="">
            </div>
            <div class="horizontal-list items-alignment-my-account">
                <p>Re-enter new password</p>
                <input type="password" name="" id="">
            </div>
            <div class="horizontal-list items-alignment-my-account">
                <p></p>
                <button type="submit" id="my-account-submit">Save changes</button>
            </div>
        </form>
    </div>
</div>
{{>footer}}