{{>header}}

<div class="my-account-container">
    <div class="my-account-form">
        <form method='post' action='/my_account/modify'>            
            <div class="horizontal-list items-alignment-my-account">
                <p>Username</p>
                <input type="text" name="username" value="">
            </div>
            <div class=" horizontal-list items-alignment-my-account">
                <p>Email</p>
                <input type="text" name="email" value="">
            </div>
            <div class="horizontal-list items-alignment-my-account">
                <p>Current password</p>
                <input type="password" name="password" placeholder="Current password">
            </div>
            <div class="horizontal-list items-alignment-my-account">
                <p>New password</p>
                <input type="password" name="newPassword" placeholder="New password">
            </div>
            <div class="horizontal-list items-alignment-my-account">
                <p>Re-enter new password</p>
                <input type="password" name='reenterNewPassword' placeholder="Re-enter new password"/>
            </div>
            <div class="horizontal-list items-alignment-my-account">
                <p></p>
                <button type="submit" id="my-account-submit">Save changes</button>
            </div>
        </form>
    </div>
</div>
{{>footer}}