{{>header}}

<div class="myevents-container">
    <div class="event ongoing">
        <div class="myevents-section-title">
        	<P>Finished events</P>
        </div>
        <ul>
        	{{#finishedEvents}}
        	<li class="event-list">
	            <div class="event-post">
	                <ul>
	                    <li class="event-item">
	                        <div class="event-logo">
	                        	<!-- <img src="/events/{{id}}/image"></img> -->
	                            Image
	                        </div>
	                    </li>
	                    <li class="event-item">
	                        <div class="event-banner">
	                        	<!-- <img src="/events/{{id}}/banner"></img> -->
	                            Banner
	                        </div>
	                    </li>
	                    <li class="event-item">
	                        <div class="event-name">
	                            <ul>
	                                <li>{{eventName}}</li>
	                                <li>{{game}}</li>
	                            </ul>
	                        </div>
	                    </li>
	                    <li class="event-item">
	                        <div class="event-status--logo">
	                            FINISHED
	                        </div>
	                    </li>
	                    <li class="event-item">
	                        <div class="event-status--text">
	                            <ul>
	                                
	                            </ul>
	                        </div>
	                    </li>
	                    <li class="event-item">
	                        <div class="event-status--players">
	                            <ul>
	                                <li>{{numSlots}}</li>
	                                <li>Icon</li>
	                            </ul>
	                        </div>
	                    </li>	                   
	                </ul>
	            </div>
	        </li>
	        {{/finishedEvents}}
        </ul>
    </div>
    <div class="event upcoming">
        <div class="myevents-section-title">
            <P>Current events</P>
        </div>
        <ul>
        	{{#currentEvents}}
        	<li class="event-list">
	            <div class="event-post">
	                <ul>
	                    <li class="event-item">
	                        <div class="event-logo">
	                        	<!-- <img src="/events/{{id}}/image"></img> -->
	                            Image
	                        </div>
	                    </li>
	                    <li class="event-item">
	                        <div class="event-banner">
	                        	<!-- <img src="/events/{{id}}/banner"></img> -->
	                            Banner
	                        </div>
	                    </li>
	                    <li class="event-item">
	                        <div class="event-name">
	                            <ul>
	                                <li>{{eventName}}</li>
	                                <li>{{game}}</li>
	                            </ul>
	                        </div>
	                    </li>
	                    <li class="event-item">
	                        <div class="event-status--text">
	                            <ul>
	                                <li>Registration due date: {{regDateStr}}</li>
	                                <li>Kick-off date: {{kickoffDateStr}}</li>
	                            </ul>
	                        </div>
	                    </li>
	                    <li class="event-item">
	                        <div class="event-status--players">
	                            <ul>
	                                <li>{{numParticipants}}/{{numSlots}}</li>
	                                <li>Icon</li>
	                            </ul>
	                        </div>
	                    </li>
	                    <li class="event-item">
	                        <div class="event-edit">
	                            <a href="/events/{{id}}/edit">
	                            	<p>EDIT</p>
	                            </a>
	                        </div>   
	                    </li>
	                </ul>
	            </div>
	        </li>
	        {{/currentEvents}}
	        <li class="event-list">
		        <div class="event-create-post">
                    <a href="/events/create" class="fill-div">
                        <p>+</p>
                    </a>
	            </div>
            </li>
        </ul>
    </div>
</div>

{{>footer}}