{{>header}}
<div class="myevents-container">
    <div class="event ongoing">
        <div class="myevents-section-title">
            <P>Ongoing events</P>
        </div>
        <ul>
            <li class="event-list">
                <div class="event-post">
                    <ul>
                        <li class="event-item">
                            <div class="event-logo">
                                LOGO
                            </div>
                        </li>
                        <li class="event-item">
                            <div class="event-banner">
                                BAAAAAAAANER
                            </div>
                        </li>
                        <li class="event-item">
                            <div class="event-name">
                                <ul>
                                    <li>AVLON Series VIII</li>
                                    <li>Tekken7</li>
                                </ul>
                            </div>
                        </li>
                        <li class="event-item">
                            <div class="event-status--logo">
                                LIVE
                            </div>
                        </li>
                        <li class="event-item">
                            <div class="event-status--text">
                                <ul>
                                    <li>Semi-finals</li>
                                    <li>Participating</li>
                                </ul>
                            </div>
                        </li>
                        <li class="event-item">
                            <div class="event-status--players">
                                <ul>
                                    <li>8</li>
                                    <li>ICONO</li>
                                </ul>
                            </div>
                        </li>
                        <li class="event-item">
                            <div class="event-edit">
                                <a href=""><p>Edit</p></a>
                            </div>   
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="event upcoming">
        <div class="myevents-section-title">
            <P>Upcoming events</P>
        </div>

    </div>
</div>
{{>footer}}