{{>header}}

<div class="edit-event-container">
    <h1 class="create-event--title">{{eventUser.event.eventName}}</h1>
    <div class="edit-event-body">
        <div class="edit-event-left">
           {{#eventUser}}        
            <div class="edit-event-icon">
                <p>Icon placeholder</p>
            </div>
            {{#event.ongoing}}
            <p id="edit-event-status">LIVE</p>
            <p >Stage</p>
            <p>{{event.numParticipants}} participants</p>
            {{/event.ongoing}}
            {{^event.ongoing}}
            <p>Registrations ends {{event.regDateStr}}</p>
            <p>Event starts {{event.kickoffDateStr}}</p>
            <p>{{event.numParticipants}}/{{event.numSlots}}</p>
            {{/event.ongoing}}
        </div>
        <div class="edit-event-right">
            <div class="horizontal-list edit-event-right--items-alignment">
                <p>Banner image</p>
            </div>
            <div class="horizontal-list edit-event-right--items-alignment">
                <p>Event name: {{event.eventName}}</p>
            </div>
            <div class="horizontal-list edit-event-right--items-alignment">
                <p>Game: {{event.game}}</p>
            </div>
            {{^event.ongoing}}
            <div class="horizontal-list edit-event-right--items-alignment">
                <p>Registration due date: {{event.regDateStr}}</p>
            </div>
            <div class="horizontal-list edit-event-right--items-alignment">
                <p>Kick-off date: {{event.kickoffDateStr}}</p>
            </div>
            {{/event.ongoing}}
        <p id="show-event-info--2">Semi-finals</p>
    </div>
    <div id="show-event-game" class="horizontal-list">
        <div id="show-event-game__participants">
            <p>participant list: </p>            
            	{{#event}}
            		{{#participants}}
            				{{username}}
            		{{/participants}}
            	{{/event}}
        </div>
        <div id="show-event-game__bracket">
            <p>bracket </p>
             	{{#eventMatches}}
            		{{#isP1}}
            			{{eventMatch.player1.username}}       
            		{{/isP1}}
            		{{^isP1}}
            			???
            		{{/isP1}}
            		    VS
            		{{#isP2}}
            			{{eventMatch.player2.username}}   
            		{{/isP2}}
            		{{^isP2}}
            			???
            		{{/isP2}}			
            		,
            	{{/eventMatches}}
            {{/eventUser}}        
            	
        </div>
    </div>
</div>

{{>footer}}