<div class="upcoming-event-post">
    <div class="upcoming-event-post__text">
        <ul>
            <li class="upcoming-event-post__text--title"><a href="/event">{{eventName}}</a></li>
            <li class="upcoming-event-post__text--game">{{game}}</li>
        </ul>
        <ul class="upcoming-event-post__text-list">
            <li class="upcoming-event-post__text--state">{{kickoffDateStr}}</li>
            <li class="upcoming-event-post__text--state2">Log in</li>
        </ul>
    </div>
</div>