/*
	Colors:
		#03031B -> Azul muy oscuro
		#16213E -> Azul
		#0F3460 -> Azul más claro
		#FFCE1F -> Amarillo
		#E94560 -> Rojo/rosa
		#FAEDF0 -> Blanco		
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;	
}

header {
	height: auto;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	box-sizing: border-box;
	height: 100px;
	background: #16213E;
}

.logo {
	height: 70%;
}

.main-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.menu-item {
	margin: 0 1rem;
	font-weight: 600;
	cursor: pointer;	
	color: #FAEDF0;
}


a,
a:visited {	
	text-decoration: none;
	color: #FAEDF0;
}

.buttonLogin {
	background-color: #FFCE1F;
	color:#03031B;
	border: 2px solid #03031B;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.buttonLogin:hover {
	color: #03031B;
}

.menu-item:hover {
	color: #E94560
}

.loginBox {		
	background-color: #16213E;	
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;	
}
.loginBox h3{
	color:#FAEDF0;
	
}
.form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-item{
	padding: 8px;
}
form li{
	list-style-type: none;
}
.form-submit input[type=submit]{
	padding: 10px 30px;
	color: #16213E;
	text-align: center;	
	background-color: #FFCE1F;
}

input[type=text]{
	border-radius: 4px;
	width: 230px;
	height: 50px;
	background-color: #FAEDF0;
	
}
input[placeholder]{
	padding-left: 8px;	
	font-size: 11px;
	position: relative;	
}
.home-container{
	padding-top: 100px;
	width: 100vw;
	color: #0F3460;
	font-weight: bold;	
}
.home-container p{
	padding: 30px 45px 0px;
}

.ongoing-events{
	height: 40%;
	background-color: #FAEDF0;
}
.upcoming-events{
	height: 40%;
	background-color: white;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #0F3460;	
}